


<div class="responsive column">
  <div class="ui placeholder segment">
  <div class="ui icon header">
    <i class="globe icon"></i>
    <h1>myDash</h1>
    <h3>The most generic subtitle ever.</h3>
  </div>
</div>
<div class="ui raised very padded text container segment" style="text-align:center">
<div class="column">
  <div class="ui form">

<div class="field">
<%= button_to "Login with myDash account", '/login', method: :get, :class =>"ui raised button"%>
</div>
<div class="field">
  <button class="ui google plus button">
  <i class="google icon"></i>
  Login with Google
</button>
  </div>
<div class="ui divider"></div>
<p style="text-align:center">New here?</p>
<div class="field">
<%= button_to "Sign up", '/users/new', method: :get, :class =>"ui raised button"%>
</div>
</div>
</div>
</div>
</div>
