
<div class="ui one column stackable center aligned page grid">
<div class="column">
<div class="ui raised very padded text container segment" style="text-align:center">
<div class="ui one column doubling grid">
<div class="column">
<%= button_to "Login", '/login', method: :get, :class =>"ui raised button"%>
</div>
<div class="column">
<%= button_to "Sign up", '/users/new', method: :get, :class =>"ui raised button"%>
</div>
</div>
</div>
</div>
</div>


